# Specifically track the premade .env.public files
!.env.public

# Keep the Dockge-editable .env private to avoid committing & tracking credentials
.env

# Same with custom common.yaml (which contains file paths)
stacks/common.yaml

# To prevent VPN configurations being committed
*.ovpn
wg*.conf

# Section for repositories cloned into stacks/ directory
stacks/obico-server/

# Prefixes for stacks not tracked by git
stacks/p-*
stacks/dev-*
